/* ───────── Component styles───────── */

@layer components {
  /* 
  .card {
    background-color: var(--color-primary-lighter-s-less);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    border: var(--border-sm) solid var(--color-text-subtle);
    box-shadow: var(--shadow-subtle);
    transition: all 0.3s ease;
    transform: scale(1);
    
    &:hover {
      box-shadow: var(--shadow-bold);
      border-color: var(--color-primary-dark);
      transform: scale(1.02);
    }
  }
  
  .btn {
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-lg);
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
    border: var(--border-sm) solid currentcolor;
    box-shadow: var(--shadow-subtle);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    
    &:hover {
      box-shadow: var(--shadow-bold);
      background-color: var(--color-primary-dark);
      transform: translateY(-0.25rem);
    }
  }
  
  .main-nav__item a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    
    &:hover {
      color: var(--color-primary-dark);
    }
  }
   */
   
   .block {
     &:hover {
       border: 0.125rem solid currentcolor;
     }
   }
}