
  .layout__container {
    max-width: var(--width-container);
    margin-inline: auto;
    padding-inline: var(--space-md);
  }
  
  .header__container,
  .main__container {
    padding: var(--space-md);
    border-radius: var(--radius-md);
  }
  
  .header__container {
    background: var(--color-primary-light);
    min-height: 25vh;
  }
  
  .main__container {
    background-image: var(--gradient-main-border);
    min-height: 75vh;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    inset-inline-start: 0;
    
    /* inset: initial initial 0 0; */
    width: 100%;
    padding: 0.4rem;
    background: var(--color-footer);
    border-radius: var(--radius-lg);
    font-size: var(--font-size-sm);
    text-align: center;
    user-select: none;
  }