/* ───────── 4. Layout & Block Sections ───────── */
@layer layout {
  :root 
  
  /* ─────────  ───────── */
  
  
  .supblock {
    min-height: var(--min-h);
    background-color: var(--bg-color);
    text-align: var(--alignment);
    
    &:hover {
      --bg-color: red;
    }
  }
  
  .supblock--header {
    &:hover {
      --min-h: 50vh;
      --bg-color: yellow;
    }
  }
  .supblock--main {
    &:hover {
      --min-h: 100vh;
    }
  }
  .supblock--footer {
    &:hover {
      --min-h: 25vh;
    }
  }
  
  /* ─────────  ───────── */
  
  .block {
    background-color: var(--bg-color);
    text-align: var(--alignment);
    color: var(--txt-color);
    
    &:hover {
      --bg-color: deeppink;
      --txt-color: white;
      --alignment: center;
    }
  }
  
  .block--intro1 {
    &:hover {
      --bg-color: pink;
    }
  }
  .block--body1 {
    &:hover {
      --bg-color: palevioletred;
    }
  }
  .block--end1 {
    &:hover {
      --bg-color: mediumvioletred;
    }
  }
  
  /* ─────────  ───────── */
  
  .subblock {
    background-color: var(--bg-color);
    
    &:hover {
      --bg-color: blue;
    }
  }
  
  .subblock--nav1 {
    &:hover {
      --bg-color: lightslategray;
    }
  }
  .subblock--intro1 {
    &:hover {
      --bg-color: lime;
    }
  }
  .subblock--body1 {
    &:hover {
      --bg-color: lavender;
    }
  }
  .subblock--end1 {
    &:hover {
      --bg-color: darkslategrey;
    }
  }
  
  /* ─────────  ───────── */
  
  .subsubblock {
    color: var(--txt-color);
    
    &:hover{
      color: magenta;
    }
  }
}