/* ───────── 3. Header & Navigation ───────── */
@layer layout {
  
  .site-header {
    padding: var(--space-md) var(--space-md);
    background-color: hsla(var(--base-hue), 20%, 95%, 0.5);
    box-shadow: var(--shadow-subtle);
    backdrop-filter: blur(0.3rem);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-nav__list {
    gap: var(--space-md);
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  /* ───────── 4. Layout & Block Sections ───────── */
  .block {
    padding: var(--space-xl) var(--space-lg);
    background-color: var(--color-bg-light);
    transition: background-color 0.3s ease;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    
    &::before {
      background: var(--gradient-layered);
      content: '';
      top: 0;
      left: -5%;
      width: 110%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
      position: absolute;
      pointer-events: none;
    }
  }
  /*  --compact, layout-grid layout-col-2 mini-game */
  
  .block--hero {
    padding: var(--space-xl) var(--space-lg);
    padding-bottom: var(--space-xxl);
    background: var(--gradient-main);
    color: var(--color-text-inverse);
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .block--hero .text--hero {
    text-shadow: var(--shadow-subtle);
  }
  
  /* * 🎨 Thematic Modifiers*/

}