/*  main.css */
/* ───────────────────────────────────────────── */

@layer variables {
  :root {
    /* ------------------ */
    /* tailwind colours */
    --slate-50: hsla(210, 40%, 98%, 1);
    --slate-100: hsla(210, 40%, 96%, 1);
    --slate-300: hsla(213, 27%, 84%, 1);
    --slate-500: hsla(215, 16%, 47%, 1);
    --slate-600: hsla(215, 19%, 35%, 1);
    --slate-700: hsla(215, 25%, 27%, 1);
    --slate-800: hsla(217, 33%, 17%, 1);
    --slate-900: hsla(222, 47%, 11%, 1);
    
    --blue-500: hsla(217, 91%, 60%, 1);
    --blue-600: hsla(221, 83%, 53%, 1);
    --blue-700: hsla(224, 76%, 48%, 1);
    
    --green-100: hsla(149, 80%, 90%, 1);
    --green-400: hsla(158, 64%, 52%, 1);
    
    /* ------------------ */
    /* tailwind layout */
    --space-1: 0.25rem;
    --space-md: 0.375rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-24: 6rem;
    
  }
  
  
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&display=swap');

@layer typographies {
  :root {
    /* ------------------ */
    /* tailwind typography */
    --text-center: center;
    --text-left: left;
    
    /* font-size / line-height*/
    --text-xs: 0.75rem/1rem;
    --text-sm: 0.875rem/1.25rem;
    --text-lg: 1.125rem/1.75rem;
    --text-2xl: 1.5rem/2rem;
    --text-3xl: 1.875rem/2.25rem;
    --text-5xl: 3rem/1;
    --text-6xl: 3.75rem/1;
    
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
    
  }
  
  /* ------------------------------------------------------------ */
  /* .container-typography */
  /*
  * Syntax: color: <color>;
  * Syntax: text-align: <value>;
  * Syntax: line-height: <value>; /* rather use font shrthand 
  * Syntax: word-spacing: <value>;
  * Syntax: letter-spacing: <value>;
  * Syntax: white-space: <value>;
  * Syntax: text-decoration: <line> <style> <color> <thickness>;
  * Syntax: text-transform: <value>;
  * Syntax: hyphens: <value>;
  * Syntax: text-indent: <length>;
  * Syntax: vertical-align: <value>;
  * Syntax: direction: <value>;
  * Syntax: unicode-bidi: <value>;
  * Syntax: text-emphasis: <style> <symbol> <color>;
  * Syntax: text-align-last: <value>;
  * Syntax: text-underline-position: <value>;
  * Syntax: line-clamp: <number>;
  */
  
  /* ------------------------------------------------------------ */
  /* .container-columns */
  /*
  * Syntax: column-count: <integer>;
  * Syntax: column-width: <length>;
  * Syntax: columns: <column-width> <column-count>;
  * Syntax: column-gap: <length>;
  * Syntax: column-rule: <width> <style> <color>;
  */
  
  /* ------------------------------------------------------------ */
  /* .container-fonts */
  /*
  * Syntax: font: [font-style] [font-variant] [font-weight] [font-stretch] [font-size] / [line-height] [font-family];
  * Syntax: font-size: <value>;
  * Syntax: font-family: <font-name-1>, <font-name-2>, ... | <generic-family>;
  * Syntax: font-weight: <value>;
  * Syntax: font-style: <value>;
  * Syntax: font-variant: <value>;
  * Syntax: font-stretch: <value>;
  */
  
  .section__heading {}
  
  
}

@layer appearances {
  :root {
    /* ------------------ */
    /* tailwind appearance */
    /* effects */
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    
    --border: 1px;
    --border-0: 0;
    --border-1: var(--border);
    --border-2: 2px;
    --border-4: 4px;
    --border-8: 8px;
    
    --rounded: var(--space-1);
    --rounded-md: var(--space-md);
    --rounded-lg: var(--space-2);
    
    --list-nono: none;
    --list-disc: disc;
    --list-decimal: decimal;
    
  }
  
  /* ------------------------------------------------------------ */
  /* .container-style */
  /*
  * Syntax: background: [background-color] [background-image] [background-repeat] [background-attachment] [background-position] / [background-size] [background-origin] [background-clip];
  * Syntax: background-color: <color>;
  * Syntax: background-image: <image-1> | <image-2> | ... ;
  * Syntax: background-repeat: <x-value> <y-value>;
  * Syntax: background-attachment: <value>;
  * Syntax: background-position: <x-value> <y-value>;
  * Syntax: background-size: <value>;
  * Syntax: background-origin: <value>;
  * Syntax: background-clip: <value>;
  * Syntax: border: [border-width] [border-style] [border-color];
  * Syntax: border-block-start: <value>; border-inline-start: <value>; etc.
  * Syntax: border-[side]: <value>;
  * Syntax: border-radius: <value>;
  * Syntax: box-shadow: <h-offset> <v-offset> <blur> <spread> <color> [inset];
  * Syntax: opacity: <number>;
  * Syntax: outline: <width> <style> <color>;
  * Syntax: mix-blend-mode: <value>;
  * Syntax: filter: <function>;
  * Syntax: clip-path: <value>;
  * Syntax: object-fit: <value>;
  * Syntax: object-position: <x> <y>;
  * Syntax: list-style: <value>;
  */
  
  
}

@layer layouts {
  :root {
    --gap-6: var(--space-6);
    
    --h-24: var(--space-24);
    
    --grid-cols-1: repeat(1, minmax(0, 1fr));
    --grid-cols-2: repeat(2, minmax(0, 1fr));
    --grid-cols-3: repeat(3, minmax(0, 1fr));
    
    --w-full: 100%;
    
  }
  
  /* ------------------------------------------------------------ */
  /* .container-layout */
  /*
  * Syntax: display: <value>;
  * Syntax: position: <value>;
  * Syntax: top: <value>; left: <value>; etc.
  * Syntax: z-index: <integer>;
  * Syntax: float: <value>;
  * Syntax: clear: <value>;
  */
  
  .main {}
  
  .main .main__item~.main__item {}
  
  .main__item {}
  
  .section__item {}

  /* ------------------------------------------------------------ */
  /* .container-contain */
  /*
  * Syntax: contain: <value>;
  * Syntax: content-visibility: auto | visible | hidden;
  * Syntax: overflow-anchor: auto | none;
  * Syntax: will-change: <property>;
  */
  
  .main {}
  
  .main .main__item~.main__item {}
  
  .main__item {}
  
  .section__item {}
  
  /* ------------------------------------------------------------ */
  /* .container-flex */
  /*
  * Syntax: display: flex | inline-flex;
  * Syntax: flex-direction: <value>;
  * Syntax: flex-wrap: <value>;
  * Syntax: flex-flow: <flex-direction> <flex-wrap>;
  * Syntax: justify-content: <value>;
  * Syntax: align-items: <value>;
  * Syntax: align-content: <value>;
  * Syntax: align-self: <value>; (usually used on children, but container can set default)
  */
  
  .main {}
  
  .main .main__item~.main__item {}
  
  .main__item {}
  
  .section__item {}
  
  /* ------------------------------------------------------------ */
  /* .container-grid */
  /*
  * Syntax: display: grid | inline-grid;
  * Syntax: grid-template-columns: <sizes>; grid-template-rows: <sizes>;
  * Syntax: grid-template: <grid-template-rows> / <grid-template-columns>;
  * Syntax: grid-auto-flow: <value>;
  * Syntax: grid-auto-columns: <size>; grid-auto-rows: <size>;
  * Syntax: grid-auto: <grid-auto-flow> <grid-auto-rows> / <grid-auto-columns>;
  * Syntax: gap: <value>;
  * Syntax: align-items: <value>;
  * Syntax: justify-items: <value>;
  * Syntax: align-content: <value>; justify-content: <value>;
  * Syntax: grid: <template>; (shorthand)
  * Syntax: place-items: <align-items> <justify-items>;
  * Syntax: place-content: <align-content> <justify-content>;
  */
  
  .main {}
  
  .main .main__item~.main__item {}
  
  .main__item {}
  
  .grid-container {
    display: grid;
    gap: var(--gap-6);
    grid-template-columns: var(--grid-cols-1);
  }
  
  .grid-container--lists-tables {
    @media (min-width: 768px) {
      grid-template-columns: var(--grid-cols-2);
    }
  }
  
  .grid-container--embedded-interactive-content {
    @media (min-width: 768px) {
      grid-template-columns: var(--grid-cols-2);
    }
    
    @media (min-width: 1024px) {
      grid-template-columns: var(--grid-cols-3);
    }
  }
  
  .section__item {}
  
  /* ------------------------------------------------------------ */
  /* .container-spacing */
  /*
  * Syntax: margin: <value>;
  * Syntax: padding: <value>;
  */
  
  /* px-8 */
  .main {
    padding-inline: var(--space-8);
  }
  
  /* space-y-12 */
  .main .main__item~.main__item {
    margin-block-end: var(--space-12);
  }
  
  .main__item {}
  
  /* p-6 */
  .section__item {
    padding: var(--space-6);
  }
  
  /* ------------------------------------------------------------ */
  /* .container-sizing */
  /*
  * Syntax: box-sizing: <value>;
  * Syntax: width: <value>; min-width: <value>; etc.
  * Syntax: min-aspect-ratio, max-aspect-ratio: <ratio>;
  * Syntax: contain-intrinsic-size: <length>;
  */
  
  .main {}
  
  .main .main__item~.main__item {}
  
  .main__item {}
  
  .section__item {}

}