:root {
  --bg-violet: hsl(273, 75%, 66%);
  --bg-blue: hsl(240, 73%, 65%);
  --bg-blue-transparent: hsla(240, 73%, 65%, 0.24);
}

/* remove margins and apply box sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(var(--bg-violet), var(--bg-blue));       why img why use a func why does nothing not even the color show up on screen when there're no elements in body even when using bg-color why does the img repeat it self and is about the height of the element*/
  /* background-color: var(--bg-blue);      1 solid bg color*/

  background-image: linear-gradient(var(--bg-violet), var(--bg-blue));            /*gradient apparently*/
  min-height: 100vh;      /*the unit is percent but not percent?  solves the repeat issue now bg is gradient also solves blank screen*/
}

.main {
  /* padding-top:5vh;
  padding-left: 5vh;
  padding-right: 5vh; */
  padding: 5vh 5vh 0vh 5vh;     /*top right bottom left- clockwise*/

  background-color: var(--bg-blue-transparent);
}

/*section*/
.card {
  background-color: white;
  min-height: 70vh;
}